| Estimado #{@tutor.name},
| tu alumno #{@client.name} acaba de completar los contenidos que le recomendaste.
|  Como estableciste un #{@achievement.name} como recompensa, ahora eres responsable de entregarsela a #{@client.name}.
|  Para conocer más acerca del progreso de  #{@client.name} o establecer una nueva recompensa,
|  copia y pega en el navegador el siguiente enlace:
= tutor_moi_index_url
|  Gracias por enseñar con Moi Aprendizaje Social.
