| Estimadx #{@tutor_name},
| Desde este momento, tienes el poder para impulsar dinámicamente el desarrollo intelectual de tu (s) niñx (s).
| Haz comprado #{@total_tickets} tickets para agregar alumnos a tu lista e interactuar con ellos
| La plataforma de Análisis, Recomendaciones y Recompensas Moi te permitirá seguir todos los pasos que da tu pequeñx genix en su proceso independiente de aprendizaje.
| Estos datos te permitirán conocer exactamente que conceptos y contenidos está leyendo, cuanto tiempo le toma, cuáles son sus intereses principales y sus áreas de menor interés.
| Podrás motivar los aprendizajes de #{@total_tickets} alumno(s) enviándole(s) mensajes, recomendaciones de contenidos, estableciendo recompensas y pruebas especiales.
| Además, podrás recibir notificaciones de progreso periodicas o instantaneas segun tus preferencias.
| En cualquier momento, podrás generar un reporte individual o grupal para evidenciar los aprendizajes de tu niñx.
| Para empezar, entra en: #{@url_sign_in}, ingresa tu email y contraseña y envía una solicitud al estudiante al que quieres motivar.
| Si tienes preguntas, escribenos a learning@growmoi.com
