<dom-module id="moi-send-notifications-card-content">
  <link rel="stylesheet" href="moi-send-notifications-card-content.css" />
  <template>
    <template is="dom-if" if="{{ sending }}" restamp>
      <div>Enviando datos...</div>
    </template>
    <template is="dom-if" if="{{ !sending }}" restamp>

      <form enctype="multipart/form-data" action="/tutor/dashboard/send_notification" accept-charset="UTF-8" method="post">
        <input name="utf8" value="✓" type="hidden">
        <input name="authenticity_token" value="{{authToken}}" type="hidden">
        <div class="form-group">
          <input class="form-control" name="notification[title]" type="text" placeholder="Título">
        </div>
        <div class="form-group">
          <textarea class="form-control" name="notification[description]" placeholder="Contenido" rows="1"></textarea>
        </div>
        <div class="form-group">
          <input class="form-control" placeholder="Video destacado" name="notification[notification_videos_attributes][0][url]" type="text">
        </div>
        <div class="form-group">
          <label>Imagen</label>
          <div class="form-group">
            <input type="file" on-change="testOnChange" name$="{{ mediaInputName }}"  accept=".jpg, .jpeg, .png" multiple/>
            <input type="hidden" name="{{ cacheName }}"/>
          </div>
        </div>
        <div class="moi-card-custom-button">
          <button class="btn action-send" type="submit" data-disable-with="Enviando.." >Enviar</button>
        </div>
      </form>

    </template>
  </template>
  <script src="moi-send-notifications-card-content.js"></script>
</dom-module>
