<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      The admin this site change your permission,
      Now you are: <%= @user.role %>.<br>
    </p>
    <p>
      If you have any question please send a email to: moi@example.com.
    </p>
    <p>Thanks that you have a great day!</p>
  </body>
</html>
