<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <p>
      The administrator has changed the permission of your account.<br>
      Now you are: <%= @user.role %>
    </p>
    <p>
      If you have any question please send a email to: moi@example.com.
    </p>
    <p>You have a great day!</p>
  </body>
</html>
