| Hola, #{@user_name} pensó que te gustaría conocer esto:
| Esta(Pantalla) es parte de la experiencia Moi de #{@user_name}. Para verlo en detalle,
| haz clic #{@public_url}.
| Para empezar, a jugar haz clic #{@url_sign_in}
| o seguir su proceso, haz click #{@url_dashboard}
| Para concer más visita #{@url_web_site}