<dom-module id="moi-quiz-card-content">
  <link rel="stylesheet" href="moi-quiz-card-content.css" />
  <template>
    <template is="dom-if" if="{{ loading }}" restamp>
      <div>{{ t('views.tutor.dashboard.card_quizzes.loading') }}</div>
    </template>
    <template is="dom-if" if="{{ !loading }}" restamp>
      <div class="form-group">
        <moi-select items="{{ levels }}" on-item-selected="onLevelSelected" placeholder$="[[ t('views.tutor.dashboard.card_quizzes.levels_placeholder') ]]"></moi-select>
      </div>
      <div class="form-group">
        <moi-select items="{{ students }}" on-item-selected="onStudentSelected" placeholder$="[[ t('views.tutor.dashboard.card_quizzes.students_placeholder') ]]"></moi-select>
      </div>
      <div class="form-group questions-list">
        <label>{{ t('views.tutor.dashboard.card_quizzes.questions_label') }}</label>
        <div class="list">
          <template is="dom-repeat" items="{{ questions }}">
            <div>
              <span>*</span>
              <span>{{ item.title }}</span>
            </div>
          </template>
        </div>
      </div>
    </template>
    <moi-actions-row>
      <button id="btnsend" class="btn action-send" on-tap="sendQuiz">{{ btnSendText }}</button>
    </moi-actions-row>
  </template>
  <script src="moi-quiz-card-content.js"></script>
</dom-module>
