<dom-module id="moi-student-card-content">
    <link rel="stylesheet" href="moi-student-card-content.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
    <template>

      <paper-toast id="toast-message" duration="5000" text="{{ toastMessage }}"></paper-toast>

      <div class="list-group list-group-flush">
        <template is="dom-repeat" items="{{ students }}">
          <template is="dom-if" if="[[ item.status ]]" restamp>
            <moi-selectable-row name="[[ item.name ]]"
              username="[[ item.username ]]"
              student-id$="[[ item.id ]]"
              img-selector="[[ rowImgCheck ]]"
              img-avatar-active="[[ rowImgActive ]]"
              img-avatar-inactive="[[ rowImgInactive ]]"
              on-row-selected="onRowSelectedHandler">
              <div class="options">
                  <moi-student-report-button
                    student-id$="[[ item.id ]]"
                    username="[[ item.username ]]"
                    title$="[[ t('views.tutor.dashboard.card_students.show_report') ]]"
                    glyphicon="glyphicon-stats"
                    text=""
                    class="moi-student-report-button">
                  </moi-student-report-button>
                  <!-- <paper-button on-tap="openDialogConfirm" class="btn-remove" title$="[[ t('views.tutor.dashboard.card_students.remove_user') ]]">
                    <span class="glyphicon glyphicon-remove"></span>
                  </paper-button> -->
              </div>
            </moi-selectable-row>
          </template>

          <template is="dom-if" if="[[ !item.status ]]" restamp>
            <moi-selectable-row name="[[ item.name ]]"
              username="[[ item.username ]]"
              student-id$="[[ item.id ]]"
              img-avatar-active="[[ rowImgInactive ]]"
              img-avatar-inactive="[[ rowImgInactive ]]"
              disable-selection>
              <div class="status">
                <paper-button on-tap="cancelRequest">[[ t('views.tutor.dashboard.card_students.cancel_request') ]]</paper-button>
              </div>
            </moi-selectable-row>

          </template>

        </template>
        <template is="dom-if" if="{{ loading }}" restamp>
          <div>{{ t('views.tutor.dashboard.card_students.loading_students') }}</div>
        </template>
      </div>

      <moi-actions-row>
        <moi-download-button href="/tutor/dashboard/download_tutor_analytics.xls"
          id="btnSelectiveDownload"
          text="[[ t('views.tutor.dashboard.card_students.export_selected_xls') ]]"
          title$="[[ t('views.tutor.dashboard.card_students.export_selected_xls_title') ]]"
          filename="[[ downloadBtnFilename ]]"
          loading-text="[[ t('views.tutor.dashboard.card_students.loading_report') ]]"
          mime-type="application/xls"
          ids="{{ studentsSelected }}">
        </moi-download-button>

        <moi-download-button href="/tutor/dashboard/download_tutor_analytics.xls"
          id="btnAllDownload"
          text="[[ t('views.tutor.dashboard.card_students.export_xls') ]]"
          title$="[[ t('views.tutor.dashboard.card_students.export_xls_title') ]]"
          filename="[[ downloadBtnFilename ]]"
          loading-text="[[ t('views.tutor.dashboard.card_students.loading_report') ]]"
          mime-type="application/xls">
        </moi-download-button>

        <template is="dom-if" if="{{ isAdmin }}" restamp>
          <button class="btn-action" id="btn-open-dialog-report-settings" on-tap="openReportDialog">Personalizado</button>
        </template>

      </moi-actions-row>

      <moi-dialog title="[[ t('views.tutor.dashboard.card_students.remove_user') ]]" width="500" id="dialog-confirm" theme="red">
        <p>[[ t('views.tutor.dashboard.card_students.dialog.confirm.message', username) ]]</p>
        <div class="options">
          <paper-button on-tap="closeDialog" class="btn-cancel">
            <span>[[ t('views.tutor.dashboard.card_students.dialog.confirm.buttons.cancel') ]]</span>
          </paper-button>
          <paper-button on-tap="removeUser" class="btn-remove">
            <span>[[ t('views.tutor.dashboard.card_students.dialog.confirm.buttons.remove') ]]</span>
          </paper-button>
        </div>
      </moi-dialog>

      <moi-dialog title="Opciones para el reporte" width="700" id="dialog-build-report" theme="green">
        <template is="dom-if" if="{{ reportOption.firstStep.visible }}" restamp>
          <div>
            <p>Selecciona el tipo de reporte que deseas</p>
            <div>
              <button on-tap="selectReportOption" id="basic">
                <span>Básico</span>
              </button>
            </div>
          </div>
        </template>

        <template is="dom-if" if="{{ reportOption.secondStep.basic.visible }}" restamp>
          <div>
            <button on-tap="backSelectReportOption" class="back-button-modal">
              <div class="glyphicon glyphicon-chevron-left"></div>
            </button>
            <form on-submit="onSubmitReportParams">
              <div class="first-row">
                <div>
                  Subir lista de alumnos en formato excel (xlsx)
                </div>
                <div>
                  <input type="file" name="studentsFile" accept=".xlsx" on-change="parseStudentsExcelFile">
                </div>

              </div>

              <div>
                <span>Campos que aparecerán en el reporte</span>
              </div>
              <div class="dialog-build-report-container">
                <div class="column-left">
                  <template is="dom-repeat" items="{{ reportItemsLeft }}">
                    <div class="dialog-build-report-option-row">
                      <span>&#10004;&nbsp;</span><span>[[ item.text ]]</span>
                    </div>
                  </template>
                </div>

                <div class="column-right">
                  <template is="dom-repeat" items="{{ reportItemsRight }}">
                    <div class="dialog-build-report-option-row">
                      <span>&#10004;&nbsp;</span><span>[[ item.text ]]</span>
                    </div>
                  </template>
                </div>
              </div>
              <div>
                <span>Ordenar por</span>
                <moi-select id="" items="{{ availableSortItems }}"  on-item-selected="onReportSortItemSelected" on-items-loaded="onReportSortItemLoaded"></moi-select>
              </div>
              <div>
                <button id="download-new-report-button">Generar reporte</button>
              </div>
            </form>
          </div>
        </template>

        <template is="dom-if" if="{{ reportOption.secondStep.questions.visible }}" restamp>
          <div>
            <button on-tap="backSelectReportOption" class="back-button-modal">
              <div class="glyphicon glyphicon-chevron-left"></div>
            </button>
            <div class="dialog-build-report-header">
                <span>Opciones</span>
            </div>
            <div >
              opcion 2 seleccionada
            </div>
          </div>
        </template>
        <template is="dom-if" if="[[ exportHasError ]]" restamp>
          <span class="dialog-build-report-error">Ocurrió un error al procesar el archivo.</span>
        </template>
      </moi-dialog>

    </template>
    <script src="moi-student-card-content.js"></script>
  </dom-module>
