<dom-module id="moi-student-card-content">
    <link rel="stylesheet" href="moi-student-card-content.css" />
    <template>

      <div class="list-group list-group-flush">
        <template is="dom-repeat" items="{{ students }}">
          <moi-selectable-row name="[[ item.name ]]"
            username="[[ item.username ]]"
            student-id$="[[ item.id ]]"
            img-selector="[[ rowImgCheck ]]"
            img-avatar-active="[[ rowImgActive ]]"
            img-avatar-inactive="[[ rowImgInactive ]]"
            on-row-selected="onRowSelectedHandler">
            <div class="options">
              <moi-student-report-button
                student-id$="[[ item.id ]]"
                title$="[[ reportBtnTitle ]]"
                glyphicon="glyphicon-stats"
                text=""
                class="moi-student-report-button">
              </moi-student-report-button>
            </div>
          </moi-selectable-row>
        </template>
        <template is="dom-if" if="{{ loading }}" restamp>
          <div>Cargando alumnos...</div>
        </template>
      </div>

      <div class="moi-card-actions">
        <moi-download-button
          id="btnSelectiveDownload"
          href$="[[ downloadBtnHref ]]"
          text="[[ downloadSelectiveBtnText ]]"
          title$="[[ downloadSelectiveBtnTitle ]]"
          filename="[[ downloadBtnFilename ]]"
          loading-text="[[ downloadBtnLoadingText ]]"
          mime-type="[[ downloadBtnMimeType ]]"
          class$="[[ downloadBtnClass ]]"
          ids="{{ studentsSelected }}">
        </moi-download-button>
        <moi-download-button
          href$="[[ downloadBtnHref ]]"
          text="[[ downloadBtnText ]]"
          title$="[[ downloadBtnTitle ]]"
          filename="[[ downloadBtnFilename ]]"
          loading-text="[[ downloadBtnLoadingText ]]"
          mime-type="[[ downloadBtnMimeType ]]"
          class$="[[ downloadBtnClass ]]">
        </moi-download-button>
      </div>
    </template>
    <script src="moi-student-card-content.js"></script>
  </dom-module>
