@import ../../styles/mixins
@import ../../styles/variables

\:host
  height: 100%
  position: relative

  .disabled
    opacity: 0.5
    pointer-events: none

  .status
    max-width: 6rem

  +var(moi-download-button-color, $base-color-green)
  +var(moi-download-button-border-color, $base-color-green)
