//= require polymer/polymer
//= require paper-toast/paper-toast
//= require paper-button/paper-button
//= require behaviors/translation/translation
//= require behaviors/recommendation-form/recommendation-form
//= require behaviors/asset/asset
//= require behaviors/student/student
//= require behaviors/utils/utils
//= require behaviors/notification/notification
//= require buttons/moi-download-button/moi-download-button
//= require buttons/moi-student-report-button/moi-student-report-button
//= require buttons/moi-send-client-request-button/moi-send-client-request-button
//= require inputs/moi-input/moi-input
//= require notifications/moi-flash-message/moi-flash-message
//= require notifications/moi-badge/moi-badge
//= require rows/moi-selectable-row/moi-selectable-row
//= require rows/moi-actions-row/moi-actions-row
//= require selectors/moi-select/moi-select
//= require selectors/moi-chosen/moi-chosen
//= require partials/moi-partial-card-recommendation/moi-partial-card-recommendation
//= require partials/moi-partial-view-recommendation/moi-partial-view-recommendation
//= require dialogs/moi-dialog/moi-dialog.html
//= require cards/moi-card-content-wrapper/moi-card-content-wrapper
//= require cards/moi-student-card-content/moi-student-card-content
//= require cards/moi-user-card-content/moi-user-card-content
//= require cards/moi-recommendation-card-content/moi-recommendation-card-content
//= require cards/moi-send-notifications-card-content/moi-send-notifications-card-content
//= require cards/moi-quiz-card-content/moi-quiz-card-content
//= require cards/moi-tutor-notifications-card-content/moi-tutor-notifications-card-content
//= require views/moi-dashboard-view/moi-dashboard-view
//= require views/moi-client-view/moi-client-view
//= require views/moi-analysis-view/moi-analysis-view
//= require views/moi-recommendations-view/moi-recommendations-view
//= require views/moi-profile-view/moi-profile-view
//= require views/moi-notifications-view/moi-notifications-view
