<dom-module id="moi-recommendation-card-content">
  <link rel="stylesheet" href="moi-recommendation-card-content.css" />
  <template>
    <template is="dom-if" if="{{ loading }}" restamp>
      <div class="loading-users">Cargando datos...</div>
    </template>
    <template is="dom-if" if="{{ !loading }}" restamp>
      <div class="row-select">
        <moi-select items="{{ achievements }}" on-item-selected="onItemSelected" placeholder="[[ achievementsPlaceholder ]]"></moi-select>
      </div>
      <div class="row-select">
        <moi-chosen class="moi-chosen" items="{{ contents }}" on-item-selected="onChoosenItemSelected" on-item-deselected="onChoosenItemDeselected" placeholder="[[ contentsPlaceholder ]]"></moi-chosen>
      </div>
    </template>
    <div class="moi-card-custom-button send-button-container">
      <button id="btnsend" on-tap="sendRecommendation">{{ btnSendText }}</button>
    </div>
  </template>
  <script src="moi-recommendation-card-content.js"></script>
</dom-module>
