.neuron-content
  .content-keywords
    margin-top: 5px
    .label
      margin-right: 0.5em
      font-weight: 550
  .content-media
    text-align: center
    display: block
    img
      max-width: 100%
      max-height: 400px

  .approved-content
    margin-top: 5px
    text-align: right
    label
      margin-right: 5px

  hr
    margin-top: 10px
