// sm is 768px
@media (min-width: 768px)
  .contents_form
    .col-sm-10
      border-left: 1px solid #eee
    .form-group
      margin-bottom: 5px
    .fields
      position: relative
      .remove_nested_fields
        position: absolute
        top: 2px
        right: 0
