@import ../../styles/mixins
@import ../../styles/variables

\:host
  position: fixed
  z-index: 1030
  top: 1rem
  right: 12rem
  .moi-badge
    color: red
    font-size: 1.2rem
    background: red
    color: white
    text-align: cente
    line-height: 18px
    border-radius: 50%
    box-shadow: 0 0 1px #333
    min-width: 2.2rem
    min-height: 2.2rem

