$base-color-brown: #805A41
$base-color-light-gray: #EEEEEE
$white: white

.container-dashboard

  .panel
    border: none

  .panel-height-large
    height: 52rem

  .panel-height-medium
    height: 25rem
    margin-bottom: 2rem

  .dashboard-row
    padding: 0 1rem
    flex-basis: 100%
    display: flex
    .moi-card
      flex-basis: 50%

  .dashboard-card
    height: 100%
    margin: 0

    .list-group
      box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2)
      max-height: 16rem
      margin-top: 0.5rem
      margin-bottom: 0.5rem
      overflow-y: scroll
      .list-group-item
        padding-right: 4rem
        display: flex
        .options
          position: absolute
          right: 1rem
          top: 0.7rem
          opacity: 0.6
          button
            cursor: pointer
            font-size: 2rem


        &:hover
          background-color: $base-color-light-gray
          .options
            opacity: 1


    #chosenselector_chosen
      .chosen-choices
        min-height: 13rem
        max-height: 13rem
        overflow-y: scroll

.dialog-dashboard-new-achievement

  .form-group-select-image
    display: flex

  .content-media-name-on-form
    .image-remove-field
      padding: 0
      margin: 0.5rem
  .disabled
    cursor: default
    pointer-events: none
    opacity: 0.7
  .search-form
    position: inherit
    width: 100%
    margin-bottom: 1rem
  .list-dashboard-clients-wrapper
    max-height: 25rem
    overflow-y: scroll
    box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.2)
    table
      width: 100%
      .list-group-item
        padding-right: 5rem
        .options
          position: absolute
          right: 1rem
          top: 0.7rem
          opacity: 0.6
          button
            cursor: pointer
            font-size: 2rem
            border-radius: 0.3rem
            padding-top: 0.3rem
        &:hover
          background-color: $base-color-light-gray
          .options
            opacity: 1

  .current-image-selected
    img
      max-height: 250px
      max-width: 250px
      margin-right: 0.3em
      margin-left: 0.5rem
