.dashboard-card.dashboard-quizzes-card.moi-card.card-orange
  .moi-card-header
    .moi-card-title = t("views.tutor.dashboard.card_quizzes.title")
  .moi-card-content
    moi-quiz-card-content(
      auth-token="#{form_authenticity_token}"
      levels-placeholder="Selecciona un nivel"
      students-placeholder="Seleccione un estudiante"
      levels-api="#{get_level_quizzes_tutor_dashboard_index_path}"
      students-api="#{students_tutor_dashboard_index_path}"
      questions-api="#{get_questions_tutor_dashboard_index_path}"
      quizzes-api="#{create_quiz_tutor_dashboard_index_path}"
    )
