.dashboard-card.dashboard-achievements-card.moi-card.card-yellow
  .moi-card-header
    .moi-card-title = t("views.tutor.dashboard.card_recommendations.title")
  .moi-card-content
    moi-recommendation-card-content(
      auth-token="#{form_authenticity_token}"
      achievements-api="#{achievements_tutor_dashboard_index_path}"
      achievements-placeholder="Selecciona una recompensa"
      contents-api="#{get_contents_tutor_dashboard_index_path}"
      contents-placeholder="Selecciona contenidos"
      create-recomendations-api="#{tutor_recommendations_path}"
    )
