.dashboard-card.dashboard-users-card.moi-card.card-blue
  .moi-card-header
    .moi-card-title = t("views.tutor.dashboard.card_users.title")
  .moi-card-content
    moi-user-card-content(
        users-api="#{get_clients_tutor_dashboard_index_path}"
        send-request-btn-class="moi-card-custom-button"
        send-request-btn-api="#{tutor_user_tutors_path}"
        row-img-active="#{image_path('client_avatar.png')}"
        row-img-inactive="#{image_path('client_avatar_inactive.png')}"
        row-img-check="#{image_path('check_blue.png')}"
        input-icon-image="#{image_path('icon_search.png')}"
      )
